.sidebar{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:200px;
    padding-top: 20px;
    background-color: #00488b;
    transition: width 0.3s;

}
.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap:20px;
    padding:10px 20px;
    color:#fff;
}

.sidebar .description{
    font-size: 14px;
}

.sidebar .nav-link:hover{
    background-color: #d8a602;
}

.sidebar .sub-menu{
    background-color: #023565;
    padding-left: 3%;
}
.main-content{
    height:100%;
    margin-left:200px;
    padding:20px;
}