{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    {% endfor %}
  {% endif %}
    
    <div class="row">
        <h1> Our menus </h1>
        {% for item in items %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ item.img_url.url }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text"><strong>Rs.{{ item.price }}</strong></p>
                    <a href="{% url 'add_to_cart' item.id %}" class="btn btn-primary">Add to Cart</a>
                </div>
                <!-- url 'add_to_cart' item.id  --->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

